<title>IntersectionOrderApp</title>
  <h1>Find kth smallest element in intersection of two integer lists</h1>
  <p>The app will take two lists of positive integers, calculate the intersection set between them and
  find the kth smallest element in this intersection using the quickselect algorithm.</p>

  <p>In the first and second form, enter a list of integers separated by a new line character.
  Enter a integer k in third form to find kth smallest element in intersection.</p>

  <p>Result is {{result}}</p>

  <form action="" method="post">
        <textarea name="list1" rows="20" cols="30"></textarea>
        <textarea name="list2" rows="20" cols="30"></textarea>
        <textarea name="k" rows="1" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
