<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="" method="post">
        <textarea name="list1" rows="20" cols="30"></textarea>
        <textarea name="list2" rows="20" cols="30"></textarea>
        <textarea name="k" rows="1" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
